@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Asap", serif;
}

/* App.css or custom styles */

/* Sidebar Container */
/* Main Content */
.main-content {
  padding-top: 20px;
  padding-left: 20px;
  padding: 20px;
  transition: margin-left 0.3s ease;
  /* Smooth transition */
}

/* Sidebar Container */
.sidebar-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  transition: width 0.3s ease-in-out;
  /* Smooth transition for width */
  background-color: #f8f9fa;
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #343a40;
  color: white;
}

.sidebar-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

/* Sidebar Collapsed */
.pro-sidebar.collapsed .sidebar-container {
  width: 80px;
  /* Collapsed sidebar width */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar-container {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content {
    margin-left: 0;
    /* Reset for small screens */
  }
}


.accordion-button:not(.collapsed){
  color: black;
  border-radius: 5px !important;

}

.accordion {

  .accordion-item {
    background: #fff;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .accordion-header {
      .accordion-button {
        background-color: #ff993350;
        color: #333;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem;
        border: none;
        border-radius: 5px !important;

        &:focus {
          box-shadow: none;
        }

        &:not(.collapsed) {
          background-color: #ff993350;
          color: #333;
        }

        i {
          font-size: 1.3rem;
          color: #FF9933;
        }
      }
    }

    .accordion-body {
      background-color: #f9f9f9;
      color: #555;
      font-size: 1rem;
      line-height: 1.6;
      border-radius: 0 0 10px 10px;
    }
  }
}